body{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
background-color:white ;
}
.form1{
    height: 79vh;
    display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.form-group{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.btn1{
    display:flex;
    align-items: flex-end;
    justify-content: center;
   
    
}
.btn-primary{
    margin-left: 0.45rem;
    margin-right: 0.45rem;
    border-radius: 0.4rem;
    
}
